/* src/components/Navbar.css */
:root {
    --font-family: 'Arial, sans-serif';
    --font-size: 20px;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --border-radius-medium: 8px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
}

nav {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    background-color: #0b0b0b;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    color:black;
    background-color: whitesmoke;
}

nav a:active {
    background-color: whitesmoke;
    color:black;
}

nav a:focus {
    outline: 2px solid #007bff;
    outline-offset: 2px;
    color: black;
    background-color: whitesmoke;
}

.active-link {
    background-color: black;
    color: whitesmoke;
}
