/* src/components/Navbar.css */
:root {
    --font-family: 'Arial, sans-serif';
    --font-size: 20px;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --black: rgba(0, 0, 0, 0.841);
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
}

.title {
    /* width: 100%; */
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    /* color: white; */
    /* margin-left: auto; */
    /* font options - Nunito Cinzel Bangers MedievalSharp "Fredoka One" Poppins*/
    
}

.title:hover {
    background-color: whitesmoke;
    color: var(--black);
}

.logout {
    font-size: 1.5rem;
    margin-right: 40px;
}

nav {
    background-color: var(--black);
    padding: 1.5rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    color: white;
    text-decoration: none;
    /* padding: 0.5rem 1rem; */
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover,
nav a:active {
    /* /* padding: 10px;  */
    color:var(--black);
    background-color: whitesmoke;
} 

nav a:focus {
    outline: 2px solid #007bff;
    outline-offset: 2px;
    color: var(--black);
    background-color: whitesmoke;
}

.active-link {
    background-color: var(--black);
    color: whitesmoke;
}
