.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  background-color: #efe9f4ff; /* Magnolia */
}

.forgot-password-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

h2 {
  color: #092327ff; /* Gunmetal */
  font-size: 2rem;
  margin-top: 10px;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #092327ff;
  border-radius: 4px;
}

input:focus {
  border-color: #53dd6cff; /* Malachite */
  outline: none;
}

.forgot-password-btn {
  width: 100%;
  padding: 12px;
  background-color: #258ea6ff; /* Blue Munsell */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.forgot-password-btn:hover {
  background-color: #80ffe8ff; /* Aquamarine */
}

.message {
  margin-top: 15px;
  font-size: 1rem;
}

.success {
  color: green;
}

.error {
  color: red;
}

.extra-links {
  color: #2a3439;
  
}

.link {
  color: #0093af;
}
.link:hover {
  color: #2a3439;
  text-decoration: underline;
}
