/* Wrapper for calendar and stats */
:root {
    --background-color: #efe9f4ff; /* Magnolia */
    --button-background: #3eb489; /* Mint */
}
.calendar-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Container for the calendar */
.calendar-container {
    flex: 1;
    margin-right: 20px;
}

/* Calendar navigation */
.calendar-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-navigation button {
    background-color: #258ea6;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em;
}

.calendar-navigation span {
    font-size: 1.2em;
    font-weight: bold;
}

/* Calendar Grid Layout */
.calendar-grid {
    display: flex;
    flex-direction: column;
}

/* Calendar Header */
.calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.calendar-header-day {
    font-size: 1.1em;
    color: var(--button-background);
    padding: 5px;
}

/* Calendar Days */
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* One column for each day of the week */
    gap: 10px;
}

/* Calendar Day Cells */
.day {
    padding: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
}

.day.selected {
    background-color: var(--button-background);
    color: white;
}

.day.tracked {
    background-color: #FFDFBA;
    border: 2px solid #53dd6c;
}

.day.completed {
    background-color: #53dd6c;
    color: white;
    border: 2px solid #258ea6;
}

.day.empty {
    background-color: transparent;
    border: none;
}

/* Stats Section */
.calendar-stats {
    flex-basis: 250px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.calendar-stats h3 {
    margin-bottom: 10px;
}

.calendar-stats p {
    margin: 5px 0;
}

/* Button styles for navigation */
.calendar-navigation button {
    font-size: 1.2em;
    padding: 10px 15px;
    background-color: #258ea6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.calendar-navigation button:hover {
    background-color: #1a6f8e;
}

/* Calendar Day Hover Effect */
.day:hover {
    background-color: #80ffe8;
    color: #092327;
}
